.title-todo {
    color: aqua;
    text-shadow:  rgb(2, 2, 2) 0px 5px 15px;
}
table {
    max-width: 300px;
    border: 3px solid aqua;
    border-radius: 5px;
    padding: 2px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgb(85, 94, 93) 0px -12px 30px,
    rgb(204, 23, 189) 0px 4px 6px, 
    rgb(1, 255, 242) 0px 12px 13px,
    rgb(95, 0, 248) 0px -3px 5px;
}
table input {
    width: 100%;
    max-width: 300px;
    padding: 5px;
    margin: 5px 0;
    outline: none;
    border: none;
    height: 40px;
    box-shadow: inset rgb(88, 79, 79) 0px 5px 10px;
    border-radius: 4px;
    font-size: 17px;
    letter-spacing: 2px;
    transition: all 0.5s;
}

table input::placeholder {
    color: rgb(76, 80, 80);
    font-size: 15px;
    transition: 0.4s all;
}
table input:focus {
    box-shadow: inset rgb(252, 252, 252) 0px 5px 15px;
}
table input:focus::placeholder {
    color: rgb(185, 178, 178);
    font-size: 12px;
}
tr {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding: 5px;
}
td {
    cursor: pointer;
    letter-spacing: 1px;
    padding:0 10px;
}
.done {
    text-decoration: line-through;
}
/*  btns             ***               */

.add-todo-btn {
    width: 75px;
    height: 40px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 3px;
    background-color: black;
    color: aqua;
}
.add-todo-btn:hover {
    box-shadow:  aqua 0px 5px 15px;
    transition: all 0.4s ease;
}
.remove-todo {
    font-family: 'Courier New', Courier, monospace;
    color: red;
}